.Form-container {
    display: flex;
    flex-direction: column;
    width: 43rem;
    margin-top: 3rem;
}
.Form-container .input {
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--mid-dark-blue);
    height: 2rem;
    color: var(--mid-dark-blue);
}
.Form-container .input:focus-visible {
    outline: none;
}
.Form-container button {
    width: 50%;
    align-self: center;
    margin-top: 2rem;
    height: 3rem;
    border-radius: 1rem;
    border: 0.1rem solid var(--mid-dark-blue);
    background-color: white;
    color: var(--mid-dark-blue);
}
.Form-container button:hover {
    background-color: var(--mid-dark-blue);
    color: var(--white);
}

@media (max-width:530px) {
    .Form-container {
        width: 100%;
    }
}
