.Register-container {
    display: flex;
    justify-content: end;
    height: calc(100vh - 10.4rem);
    width: 100%;
    background-color: var(--dark-blue);
}
.Register-container .Image-container {
    width: 100%;
    height: 100%;
    border: 0.5rem solid var(--dark-blue);
    border-right: none;
}
.Register-container .Image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.Register-container .Register-form-container {
    background-color: white;
    padding: 3rem;
    border: 0.5rem solid var(--dark-blue);
    border-left: none;
}
.Register-container .Register-form-container .Register-info {
    font-size: 2rem;
}

@media (max-width: 530px) {
    .Register-container .Register-form-container {
        width: 100%;
    }
    .Register-container .Register-form-container {
        border-radius: 0;
    }
    .Register-container .Register-form-container .Register-info {
        font-size: 1.7rem;
    }
}