.ServiceButtons-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}
.ServiceButtons-container button {
    height: 6rem;
    padding: 0 0.5rem;
    width: 10rem;
    border-radius: 1rem;
    background-color: white;
    transition: all 0.3s;
}
.ServiceButtons-container .Google-button {
    border: 0.2rem solid #de4033;
    color: #de4033;
}
.ServiceButtons-container .Twitter-button {
    border: 0.2rem solid #1c99e5;
    color: #1c99e5;
}
.ServiceButtons-container .Facebook-button {
    border: 0.2rem solid #385495;
    color: #385495;
}
.ServiceButtons-container button:hover {
    transform: scale(1.2);
}

@media (max-width:680px) {
    .ServiceButtons-container .Google-button:hover {
        background-color: #de4033;
        color: var(--white);
        transform: none;
    }
    .ServiceButtons-container .Twitter-button:hover {
        background-color: #1c99e5;
        color: var(--white);
        transform: none;
    }
    .ServiceButtons-container .Facebook-button:hover {
        background-color: #385495;
        color: var(--white);
        transform: none;
    }
}