:root {
    --dark-blue: #043d46;
    --mid-dark-blue: #065064;
    --light-blue: #c3f7ff;
    --white: #ffffff;
    --green: #13aa5f;
    --dark-green: #0d7757;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;

}
body {
    font-size: 1.6rem;
    background-color: var(--white);
    color: var(--mid-dark-blue);
    font-family: 'Ubuntu', sans-serif;
}

@media (min-width:1000px) {
    body {
        width: 1000px;
        margin: 0 auto;
    }
}