.Hygge-description {
    width: 100%;
    background-color: var(--mid-dark-blue);
    color: var(--white);
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40rem;
    padding: 0 2.5rem;
}
.Hygge-description .Hygge-description-element {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.Hygge-description .Hygge-description-element .Icon {
    width: 5rem;
    height: 5rem;
    margin-right: 4rem;
}
.Hygge-description .Hygge-description-element .Icon img {
    width: 5rem;
}

@media (min-width:680px) {
    .Hygge-description {
        width: 50%;
        order: 3;
    }
}
