.Navbar-container {
    width: 50%;
    min-width: 30rem;
    max-width: 50rem;
    height: inherit;
}

.Navbar-container .Navbar-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    text-align: center;
    height: inherit;
    align-items: center;
}

.Navbar-container .Navbar-list a {
    width: 33%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #075074;
}
.Navbar-container .Navbar-list a:hover {
    background-color: var(--mid-dark-blue);
    color: var(--white);
}

@media (max-width:599px) {
    .Navbar-container {
        min-width: 0;
        width: 40%;
        background-color: var(--white);
        position: fixed;
        top: 8rem;
        right: 0rem;
        height: auto;
        z-index: 99;
        font-size: 2rem;
    }
    .Navbar-container .Navbar-list {
        flex-direction: column;
        height: auto;
    }
    .Navbar-container .Navbar-list a {
        width: 100%;
    }
    .Navbar-container .Navbar-list a li {
        height: 5rem;
        align-self: center;
        display: flex;
        align-items: center;
    }
}