.Error-container {
    width: fit-content;
    height: fit-content;
    color: black;
    background-color: var(--white);
    padding: 3rem;
    border-radius: 1rem;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Error-container p {
    margin-bottom: 1rem;
}
.Error-container .Error-message {
    color: red;
    font-weight: bold;
}
.Error-container .Error-button {
    padding: 0.5rem 2rem;
    margin-top: 1rem;
    border: 0.2rem solid var(--dark-blue);
    background-color: var(--white);
    border-radius: 0.5rem;
}
.Error-container .Error-button:hover {
    background-color: var(--dark-blue);
    color: var(--white);
}