.Navbar-container {
    width: 50%;
    min-width: 30rem;
    max-width: 50rem;
    height: inherit;
}

.Navbar-container .Navbar-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    text-align: center;
    height: inherit;
    align-items: center;
}

.Navbar-container .Navbar-list a {
    width: 33%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #075074;
}
.Navbar-container .Navbar-list a:hover {
    background-color: var(--mid-dark-blue);
    color: var(--white);
}