.admin-page-container {
    text-align: center;
    margin-top: 2rem;
    height: calc(100vh - 11rem);
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .admin-page-container .Posadas {
    width: 41%;
    padding: 0 2rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.3rem solid var(--mid-dark-blue);
  }
  .admin-page-container .Ciudades {
    width: 41%;
    padding: 0 2rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.3rem solid var(--mid-dark-blue);
  }

  .Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    /* background-color: #CCC; */
  }

  .add-hut-button{
    background-color: var(--mid-dark-blue);
    box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    font-weight: bold;
    align-self: flex-start;
    position: relative;
    top: -10px;
    left: -30px;
    color: #FAFAFA;
    height: 64px;
    width: 64px;
    transform: rotate(0);
    transition: .3s ease;
  }

  .add-hut-button:hover{
    transform: rotate(224deg);
  }

  .add-city-button{
    background-color: var(--mid-dark-blue);
    box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    font-weight: bold;
    color: #FAFAFA;
    height: 64px;
    width: 64px;
    align-self: flex-start;
    position: relative;
    top: -10px;
    left: -30px;
    transform: rotate(0);
    transition: .3s ease;
  }
  .cities-title {
    margin-bottom: 3rem;
  }

  .add-city-button:hover{
    transform: rotate(224deg);
  }

@media (max-width: 1000px) {
    .admin-page-container {
      justify-content: space-evenly;
    }
    .admin-page-container .Ciudades {
      display: none;
    }
    .admin-page-container .Posadas {
      width: 70%;
    }
  }
  
  @media (max-width: 700px) {
    .admin-page-container {
      flex-direction: column;
      height: fit-content;
    }
    .admin-page-container .Posadas {
      width: 100%;
    }
}